/*
 *  global.scss
 *  site
 * 
 *  Created by Wess Cope (me@wess.io) on 04/10/19
 *  Copyright 2018 WessCope
 */

 html, body {
  width:100vw;
  height: 100vh;
  background: #eaeaea;
}

body {
  font-family: 'Nunito Sans', sans-serif !important;
}
